:root {
    /* Fiery Ocean Coolors.co */
    --deep-red: #780000;
    --light-red: #c1121f;
    --cream-white: #fdf0d5;
    --deep-blue: #003049;
    --light-blue: #669bbc;

    /* Glass Background */
    --glass-cream: rgba(255, 255, 255, 0.1);
    --glass-border: rgba(102, 102, 102, 0.4);

    /* Text Colors */
    --text-primary: #fdf0d5;
    --text-secondary: rgba(253, 240, 213, .3);
    --text-muted: rgba(253, 240, 213, .3);
}

body {
    background:linear-gradient(to bottom, var(--light-blue), var(--deep-blue));
    background-image:url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Outfit', sans-serif;
    color: var(--text-primary)
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-card {
    background-color: var(--glass-cream);
    border: 1px solid var(--glass-border);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 40px;
    border-radius: 20px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 440px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    background: linear-gradient(to bottom right, var(--light-blue), var(--cream-white));
    border-radius: 20px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title, h1 {
    color: white;
}

.login-title p{
    color: var(--text-muted);
}

.input-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    
    font-size: 14px;
    text-align: left;

    color: white;


    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 12px;

    background: var(--glass-cream);

    border: 1px solid var(--glass-border);
    border-radius: 10px;
    
    color: var(--text-primary);

    font-family:inherit;
    font-size: 16px;
}